.offline_warning {
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;

    color: #000;
    line-height: 1.3;
    background: linear-gradient(to top, #E0B300 0%, #FFC200 100%);
    padding: 8px 12px;
    border-bottom: 2px solid #FFE000;
    box-shadow: 0 0 20px #FC0;
    text-align: center;
}

    .offline_warning > .title {
        font-family: "Sansation Bold";
        font-size:16px;
    }
