body {
    background: none;
    background-size: cover;
}

.body_background {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url('uncached://pa/ui/backgrounds/default.png') no-repeat;
    background-size: cover;
    -webkit-animation: fadein .1s ease-in;
    -webkit-animation-fill-mode: forwards;
}

.wrapper {
    opacity: 0;
    -webkit-animation: fadein .35s ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: .1s;
}

.container {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    
}

#main {
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#main .content {
    padding-top: 0px;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#backdrop { 
	position:absolute;
	left:30%;
	top:30%;
}

.horizontal {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: flex-start;
}

#commander {
    height: 100%;
    position: absolute;
    top: 100px;
    /*flex-shrink: 0;
    flex-grow: 0;
    align-self: stretch;
    z-index: -1;
	width: 100%;*/
}

#history {
    display: block;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 1;
    overflow-y: auto;
}

#history .section-header {
    font-size: 26px;
    font-weight: 700;
    margin-top: 1em;
}

#history .section-header:first-child {
    margin-top: 0px;
}

.horizontal-scroll {
    overflow-x: scroll;
    white-space: nowrap;
}

#tech {
    display: flex;
    flex-direction: column;
}

#tech .card, #trash .card {
}

#stats {
    font-family: 'Sansation Bold';
    font-size: 23px;
    text-transform: uppercase;
    padding: 0px 0px 0px 16px;
}

.stats_label {
    color: #999;
}

.col-commander {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.col-tech {
    position: relative;
    width: 500px;
}

.wrapper-vert-scroll {
    height: calc(100% - 64px);
    width: 100%;
    overflow: auto;
    position: absolute;
}

.game_over_header {
    color: #fff;
    text-shadow: 0px 0px 20px #fff;
}


.header_bground_win {
    background: rgba(0, 88, 168,.65);
}

.header_bground_win_2 {
    background: rgba(0, 88, 168,.45);
}

.header_bground_win_3 {
    background: rgba(0, 88, 168,.25);
}

.header_bground_lose {
    background: rgba(168, 0, 0, 0.65);
}

.header_bground_lose_2 {
    background: rgba(168, 0, 0, 0.45);
}

.header_bground_lose_3 {
    background: rgba(168, 0, 0, 0.25);
}

/* TUTORIAL END */

.div_end_game_msg .end_msg {
    height: auto;
    padding: 0;
}

.div_end_game_msg .username {
    padding: 0;
}

.div_stat_panel_contents {
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.4;
}

.text_completed {
    font-size: 32px;
    text-shadow: 0 0 16px #51FF00;
    margin: 16px 0 0 0;
}

.sub_text {
    color: #999;
    font-size: 20px;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
