.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

    .card > .img_card_icon {
        width: 90px;
        margin: 0 0 16px 0;
    }

    .card > .summary {
        text-align: left;
    }

    .card > .div_card_desc {
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0 4px;
        flex-grow: 1;
    }

    .card > .desc > .colorswatch {
        width: 1em;
        height: 1em;
        border: 1px solid white;
        display: inline-block;
        vertical-align: middle;
        background-color: attr(data-color);
    }

.card_action {
    width: 100%;
    margin: 8px 0 4px;
    background: linear-gradient(to top, #444 0%, #222 100%);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
