html, body {
    height: 100%;
    position: relative;
    min-width: 1280px;
    min-height: 720px;
}

.container {
    position: absolute;
    margin: 0px 0px 0px 46px;
    padding: 0px 0px 78px 0px;
}

#social-bar {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 2px 15px;
}

    #social-bar img {
        float: right;
        margin-left: 8px;
    }

#back {
    position: absolute;
    top: 15px;
    left: 15px;
}

#sidebar {
    width: 300px;
    position: absolute;
}

#main {
    padding: 0 0px 0px 330px;
    width: 100%;
    height: 100%;
}

    #main .content {
        height: 100%;
        padding-top: 65px;
        font-family: 'Sansation Regular TTF';
    }

    #main .wrapper {
        padding: 15px;
        width: 100%;
        -webkit-box-shadow: inset 0px 0px 5px 3px rgba(5, 5, 5, .75);
        position: relative;
    }

    #main .header {
        float: right;
    }

#game-bar .btn, .modal-footer .btn {
}

    #game-bar .btn:focus, .modal-footer .btn:focus {
        outline: none;
        color: inherit;
    }

#game-bar {
    display:flex;
}

#create {
    float: left;
}

.filter_controls {
    display: flex;
}

.count_filters {
    width: 100px;
}

#game-list-header {
    width: 100%;
    margin: 0px;
}

    #game-list-header > div {
        border-bottom: 1px solid #1e7aa1;
        border-right: 1px solid #1e7aa1;
        padding: 4px 0px 4px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

        #game-list-header > div.spectate {
        }

#game-list {
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
}

    #game-list .row {
        margin: 0px;
    }

    #game-list .glyphicon, #game-list-header .glyphicon {
    }

.one-game > div {
    border-right: 1px solid transparent;
}

    .one-game > div.slots {
        border-right: none;
    }

.one-game {
    padding: 6px 6px;
}

    .one-game.ui-selected {
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #FFFFFF;
        background: #1e7aa1;
        border: 1px solid #00B3FF;
        box-shadow: inset 0px 0px 10px #00B3FF;
    }

    .one-game .planets img {
        margin-right: 2px;
    }

.one-planet {
    margin: 10px 10px 0 0;
    display:flex;
}

    .one-planet .planet-biome {
        float: left;
        margin-right: 8px;
        position: relative;
        height: 40px;
        width: 45px;
    }

        .one-planet .planet-biome img {
            position: absolute;
        }

        .one-planet .planet-biome span {
        }

    .one-planet .planet-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

#detail-pane-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    padding: 0px 0px 10px;
    position: relative;
}

#detail-pane {
    height: 100%;
    width: 100%;
    font-family: 'Sansation Bold';
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
    padding: 8px 16px 8px;
    position: absolute;
    top: 0px;
    bottom: 8px;
    overflow-y: scroll;
    overflow: auto;
    /*border: 1px solid yellow;*/
}

    #detail-pane h3 {
        font-family: 'Sansation Bold';
        font-size: 20px;
        color: #fff;
        text-shadow: 0px 0px 20px #00b3ff;
        margin-top:0;
    }

    #detail-pane .section {
        margin:0px 0px 16px 0px;
    }

    #detail-pane .row > div {
    }

    .form-group label,
    #detail-pane .col-header {
        font-family:"Sansation Bold";
        font-size:12px;
        color:#666;
        text-transform:uppercase;
        text-shadow:0px 0px 0px;
        margin:0px 0px 4px 0px;
    }

    #detail-pane .item {
        border: 1px solid #000;
        padding: 4px 8px;
        margin: -1px 0px 0px 0px;
        box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.15);
    }

    #detail-pane .item .text {
        text-shadow:0px 0px 20px #00b3ff;

    }

    #detail-pane .item .highlighted {
        color: #0f0;
        text-shadow:0px 0px 20px rgba(0,255,0,.3)
    }

    #detail-pane .item .open {
        font-family: 'Sansation Regular TTF';
        font-size: 14px;
        color: #0F0;
        text-shadow: 0px 0px 10px #0F0;
        padding: 3px 0px;
    }

    #detail-pane .row .modshighlighted {
        color: #E2772B;
    }

    #detail-pane .col-mode {
    }

    #detail-pane .col-players {
    }

    #detail-pane .col-planets {
    }

.planet-scale, .planet-radius {
    font-family: 'Sansation Regular TTF';
    font-size: 13px;
    color: #999;
}

.header {
    height: 65px;
    padding-top: 15px;
}

select {
    border: none;
}

.modal-content {
    background-color: #000;
    border-radius: 0px;
    border: 1px solid #4a4a4a;
}

.modal-header .close {
    color: white;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-title {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Sansation Bold";
}

.password {
    width: 26px;
    height:36px;
}

.thruster_count {
    height: 18px;
    width: 16px;
    background: url('coui://ui/main/game/server_browser/img/icon_thruster.png') top center no-repeat;
    position: absolute;
    z-index: 2;
    font-size: 11px;
    text-align: center;
    bottom: 0px;
    color: #00b3ff;
    font-family: trebuchet MS;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-bottom: 37px;
}

.allowTextSelection {
    -webkit-user-select: text;
}