body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fill{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(255,255,255,.15);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0, 0, 0, 0.4)), color-stop(50%,rgba(0, 0, 0, 0.5)), color-stop(100%,rgba(0,0,0,.80)));
}
