.body_panel {
    min-height: 60px;
}

/* UTILITY */
.receiveMouse {
    pointer-events: all;
}

.ignoreMouse {
    pointer-events: none;
}

/*----- DEV MODE
-----------------------------------------------------------------*/

.container {
    background-color: rgba(0,0,0,0.9);
    border:1px solid #1e7aa1;
    box-shadow:0px 0px 50px #000;
    margin: 0 10px 10px 0;
    padding:16px;
}

.table_players {
    white-space: nowrap;
}


    .table_players tr {
        height:30px;
    }

    .table_players td {
        vertical-align: middle;
    }

    .table_players td.div_devmode_control_item {
        padding:0px 10px 0px 0px;
}


.table_players input[type="checkbox"] {
    vertical-align: top;
    margin: 0px;
}

.td_player_info {
    height:30px;
    padding-right: 30px;
}

.devmode_controls {
    width: 300px;
    margin: 30px 0px 0px 4px;
    background-color: rgba(0,0,0,0.5);
    box-shadow:0px 0px 30px #000;
    position: absolute;
    z-index: 100;
}

.list_control_btn {
    height: 26px;
    /*float: right;*/
    margin: 2px 0px 0px 0px;
    padding:6px;
    display: inline-block;
    vertical-align: top;
    background: inherit;
    border: 1px solid transparent;
}

    .list_control_btn:hover {
        background: #1E7AA1;
        border: 1px solid #00B3FF;
        box-shadow: inset 0px 0px 10px #00B3FF;
    }

    .list_control_btn:active {
        background: #00B3FF;
        border: 1px solid #00B3FF;
        box-shadow: inset 0px 0px 10px #00B3FF;    
    }



